<table>
    <tr>
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend">Home</a></td>
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/game/matching">Matching Game</a></td>
        <!-- <td><a href="/QuizGame">Quiz Game</a></td> -->
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/QuizGame">Quiz Game</a></td>
        <!-- <td><a href="/songGuessing">Song Guessing Game</a></td> -->
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/songGuessing" title="Song Guessing"><span class="text">Song Guessing Game</span></a></td>
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/songlist">Song Ratings </a></td>
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/SongUpload">Upload Song</a></td>
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/playSong">Play</a></td>
        <td><a href="{{ site.baseurl }}/explore">Explore</a></td>
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/createaccount">Create Account</a></td>
        <td><a href="{{ site.baseurl }}/login">Login</a></td>

    </tr>
</table>
