<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/housing">Housing</a></td>
        <td><a href="/food">Food</a></td>
        <td><a href="/activities">Activities</a></td>
        <td><a href="/family-night">Family-Night</a></td>
        <td><a href="/gallery">Gallery</a></td>
        <td><a href="/QuizGame">Quiz Game</a></td>
        <!-- <td><a href="/songGuessing">Song Guessing Game</a></td> -->
        <td><a href="https://lwu1822.github.io/SassySwiftiesFrontend/songGuessing" title="Song Guessing"><span class="text">Song Guessing Game</span></a></td>
    </tr>
</table>
