---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

// matching starts here
// Kudos to https://marina-ferreira.github.io/tutorials/js/memory-game/. We wouldn't have gotten far without a tutorial.

.board{
   height: 100%;
   width: 100%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   perspective: 1000px;
}

.box{
   height: 24%;
   width: 19%;
   position: relative;
   margin: auto; 
   flex-wrap: wrap;
   transform: scale(1);
   transform-style: preserve-3d;
   transition: transform .1s;
}

.box.flip {
   transform: rotateY(180deg);
 }

%matchingButton {
   //width: 20%;
   //height: 25%;
   background: #ffffff;
}

%matchingButton:hover {
   background: #e0e0e0;
}

.Flipped {
   //width: 20%;
   //height: 25%;
   transform: rotateY(180deg);
   //position: absolute;
}

.Swift {
   @extend %matchingButton;
   position: absolute;
}

.Swift,
.Flipped {
    backface-visibility: hidden;
}

// matching ends here

@keyframes slideInLeft {
   from {
      transform: translateX(-300px);
   }

   to{
      transform: translateX(0);
   }
}

@keyframes slideInRight {
   from {
      transform: translateX(300px);
   }

   to{
      transform: translateX(0);
   }
}

.slideInLeft {
   animation-name: slideInLeft;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: both;
}

.slideInRight {
   animation-name: slideInRight;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-iteration-count: 1;
   animation-direction: normal;
   animation-fill-mode: both;
}


// matching ends here
